@font-face{font-family:'Inter';font-weight:400;font-style:normal;src:url('SpaceGrotesk-700-normal.woff2') format('woff2');}
@font-face{font-family:'Inter';font-weight:500;font-style:normal;src:url('SpaceGrotesk-700-normal.woff2') format('woff2');}
@font-face{font-family:'Inter';font-weight:600;font-style:normal;src:url('SpaceGrotesk-700-normal.woff2') format('woff2');}
@font-face{font-family:'Inter';font-weight:700;font-style:normal;src:url('SpaceGrotesk-700-normal.woff2') format('woff2');}
@font-face{font-family:'Inter';font-weight:800;font-style:normal;src:url('SpaceGrotesk-700-normal.woff2') format('woff2');}
@font-face{font-family:'Space Grotesk';font-weight:400;font-style:normal;src:url('SpaceGrotesk-700-normal.woff2') format('woff2');}
@font-face{font-family:'Space Grotesk';font-weight:500;font-style:normal;src:url('SpaceGrotesk-700-normal.woff2') format('woff2');}
@font-face{font-family:'Space Grotesk';font-weight:600;font-style:normal;src:url('SpaceGrotesk-700-normal.woff2') format('woff2');}
@font-face{font-family:'Space Grotesk';font-weight:700;font-style:normal;src:url('SpaceGrotesk-700-normal.woff2') format('woff2');}
